h1 {
    font-size: 36px;
}

p {
    font-size: 15px;
    margin: 10px;
}

h2 {
    margin: 20px;
    font-size: 24px;
}

h3{
    margin: 10px;
    font-size: 20px;
}


.user>a {
    font-size: 20px;
    padding: 5px;
}

.recruite {
    margin-left: 20px;
    margin-top: 20px;
}

.recruite_buttom {
    background: #eee;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 280px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

.article {
    width: 95%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.bookInformation {
    width: 100%;
    height: 45%;
    border: solid;
    
}

.coverImage {
    width: 15%;
    height: 250px;
    border: solid;
    float:left;
    display: flex;
    align-items: center;
}

.coverImage>img{
    width: 95%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
}

.detailInformation {
    float: left;
    width: 80%;
    margin: 10px;
}

.mainInformation{
    float: left;
    width: 65%;
    height: 95%;
}

.description {
    width: 30%;
    float: right;
}

.emotion_chart {
    width: 95%;
    height: 45%;
    margin: 20px;
}

.all_emotion{
    width: 50%;
    height: 90%;
    float:left;
}

.user_emotion{
    display: flex;
    flex-direction: column;
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
}

.reacts{
    padding: 0.5em 1em;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    color: #6091d3;
    background: #FFF;
    border: solid 3px #6091d3;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}

.recommendation {
    width: 95%;
    margin: 20px;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px black;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.recommendation>div {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}